/*For main page nav bar - begin*/

  .signinLogin{
    padding-top: 0%;
    padding-left: 100%;
    display: flex;
    margin-right: 80px;
  }
  
  .signinLogin button{
    height: 60px;
    margin-left: 10px;
  }
  
  .libraryImg{
    width: 100px;
    height: 100px;
  }

  .mainTitle{
    display: flex;
  }

  .mainTitle h1{
    margin: 3%;
  }

  .whole {
    display: flex;
  }

  /*For main page nav bar - end*/